/* App.css */
.app-container {
  padding: 2rem;
}

.search-bar {
  margin-bottom: 1rem;
}

.main-content {
  margin-bottom: 2rem;
}

.new-task-form {
  margin-bottom: 1rem;
}

.task-row {
  display: flex;
  align-items: center;
}

.task-checkbox {
  flex-grow: 0;
  flex-shrink: 0;
}

.task-title,
.task-date,
.task-category {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 1rem;
}

.task-actions {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.task-actions .action-btn {
  margin-left: 1rem;
}

.add-task-input {
  background-color: #f8f9fa;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.add-task-input .form-control {
  margin-bottom: 5px;
}

.selected-category {
  margin-left: 10px;
  font-weight: bold;
}

span.is-invalid {
  color: #dc3545;
}