/* App.css */
.app-container {
  padding: 2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
}

.search-bar {
  margin-bottom: 1rem;

}

.completed-task {
  color: gray;
  text-decoration: line-through;
}


.main-content {
  margin-bottom: 2rem;
}

.new-task-form {
  margin-bottom: 1rem;
}

.task-row {
  display: flex;
  align-items: center;
}

.task-checkbox {
  flex-grow: 0;
  flex-shrink: 0;
}

.task-title,
.task-date,
.task-category {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 1rem;
}

.task-actions {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.task-actions .action-btn {
  margin-left: 1rem;
}

.add-task-input {
  background-color: #f8f9fa;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.add-task-input .form-control {
  margin-bottom: 5px;
}

.selected-category {
  margin-left: 10px;
  font-weight: bold;
}

span.is-invalid {
  color: #dc3545;
}

/*.accordion-header {
  position:relative;
}*/

.btn-edit-category {
  margin-left: 1rem;
}
.search-bar {
  z-index: 1000;
}

.login-page {
  background-image: url("/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 15px;
}

.login-form label {
  position: relative;
}

.login-form label::after {
  content: attr(data-placeholder);
  position: absolute;
  top: -1.5rem;
  left: 0.75rem;
  color: #007bff;
  transition: all 0.3s ease-in-out;
}

.login-form input:focus + label::after {
  top: -2.5rem;
  font-size: 0.75rem;
}

.error-message {
  color: red;
}

.login-form {
  position: relative;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  outline: none;
  height: 45px;
  color: #fff;
  display: block;
}

.login-input-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #757575;
  transition: 0.2s ease;
  pointer-events: none;
}

.login-input:focus + .login-input-label,
.login-input:valid + .login-input-label {
  transform: translateY(-25px);
  font-size: 14px;
}

#input-newTask {
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-category-btn {
  margin-right: 10px;
}

.logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}