/* App.css */
@font-face {
  font-family: "Star";   /*Can be any text*/
  src: local("Starjedi"), url("./fonts/Starjedi.ttf") format("truetype");
}

h2 {
  font-family: "Star" !important;
}


.app-container {
  padding: 2rem;
  margin-bottom: 5rem;
  margin-top: 2rem;

}
body {
  height: 100vh;
  background-image: url("stars.jpg") !important;

  width: 100%;


  overflow: hidden !important;

}
.create-task, .create-category, .search-button, .login-button, .register-button, .create-category-button {
  background-color: #feda4a !important;
  color: black !important;
  font-weight: bold !important;
  border: none !important;

}

.create-task:hover, .create-category:hover, .search-button:hover, .login-button:hover, .register-button:hover, .create-category-button:hover {
  box-shadow: 0 0 70px 5px #feda4a !important;
}
.reset-button {
  background-color: red !important;
}

.react-datepicker, .react-datepicker__header  {
  background-color: rgba(106, 106, 106, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 15px !important;
  color: #feda4a !important;
}

.react-datepicker__day-name, .react-datepicker__day {
    color: #feda4a !important;
}

.search-bar {
  margin-bottom: 1rem;

}
.dropdown-menu {
  background-color: rgba(106, 106, 106, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 15px !important;
}

button {
  background-color: #feda4a;
  margin-right: 10px !important;
  border-radius: 10px !important;
  border: none !important;
}

.completed-task {
  color: gray;
  text-decoration: line-through;
}


.main-content {
  margin-bottom: 2rem;
}

.new-task-form {
  margin-bottom: 1rem;
}

.task-row {
  display: flex;
  align-items: center;
}

.task-checkbox {
  flex-grow: 0;
  flex-shrink: 0;
}

.task-title,
.task-date,
.task-category {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 1rem;
}

.task-actions {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.task-actions .action-btn {
  margin-left: 1rem;
}

.add-task-input {
  background-color: #f8f9fa;
  padding: 10px 0;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.add-task-input .form-control {
  margin-bottom: 5px;
}

.selected-category {
  margin-left: 10px;
  font-weight: bold;
}

span.is-invalid {
  color: #dc3545;
}

/*.accordion-header {
  position:relative;
}*/

.btn-edit-category {
  margin-left: 1rem;
}
.search-bar, .new-task {
  z-index: 1000;
  background-color: rgba(106, 106, 106, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 15px !important;
color: #feda4a;
}
.sort-text {
  color: white;
}

.login-page {

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: rgba(106, 106, 106, 0.5) !important;
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
.login-container label, .login-container h2, .login-container small, a {
  color:  #feda4a !important;
}

.login-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 15px;
}


.login-form label {
  position: relative;
}

.login-form label::after {
  content: attr(data-placeholder);
  position: absolute;
  top: -1.5rem;
  left: 0.75rem;
  color: #007bff;
  transition: all 0.3s ease-in-out;
}

.login-form input:focus + label::after {
  top: -2.5rem;
  font-size: 0.75rem;
}

.error-message {
  color: red;
}

.login-form {
  position: relative;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  outline: none;
  height: 45px;
  color: #fff;
  display: block;
}

.login-input-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #757575;
  transition: 0.2s ease;
  pointer-events: none;
}

.login-input:focus + .login-input-label,
.login-input:valid + .login-input-label {
  transform: translateY(-25px);
  font-size: 14px;
}

#input-newTask {
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-category-btn {
  margin-right: 10px;
}

.logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}


.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  /*height: 800px;*/
  height: 156px;

  color: #feda4a;
  /*font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;*/
  perspective: 400px;
  text-align: justify;
}



.crawl {
  position: relative;
  top: 9999px;
  width: 80%;
  transform-origin: 50% 100%;
  /*animation: crawl 60s linear;*/
  /*animation: crawl 1s ease-out forwards;*/
}
/*.accordion {
  animation: slideUp 1s ease-out forwards;
}*/


@keyframes crawl {
  0% {
    /*top: 0;*/
    transform: rotateX(30deg)  translateZ(0);
  }
  100% {
    /*top: -500px;*/
    transform: rotateX(30deg) translateZ(-500px);
  }
}

.form-control {
  border-color: #feda4a !important;
  border-width: 5px !important;
  background-color: black !important;
  color:  #feda4a !important;
}



.storm-helmet {
  width: 200px;
  height: auto;
  border-radius: 100px;
  margin-left: 15px;
}

.modal-image {
  width: 150px;
  height: auto;
}

.dropdown-sort {
  background-color: #007bff !important;
}


.accordion-button, .accordion, .accordion-header, .accordion-collapse {
  background-color: black !important;
  color: #feda4a !important;
}

.modal-content {
  background-color: rgba(106, 106, 106, 0.5) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 15px !important;
  color: #feda4a !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
